<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <p style="float:left;" class="copyright text-muted small">Copyright &copy; QubeVideos 2016. All Rights Reserved</p>
            <ul class="footer-list copyright text-muted small">
                <li><a href="mailto:officialqubevideos@gmail.com">Contact Us</a></li>
                <li><a href="/terms">Terms</a></li>
                <li><a href="/privacy">Privacy</a></li>
            </ul>
            <div style="float:right; margin: 15px 0 0;" class="fb-like" data-href="https://www.facebook.com/Qube-Videos-169951163521794/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
    </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92670115-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- jQuery -->
<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
