<!DOCTYPE html>

<html class="bg-info" lang="en">
<head>
    <meta charset="utf-8">

    <title>Qube</title>
    <link rel="icon" href="/static/logo.ico?v=2" type="image/x-icon"/>
    <link rel="shortcut icon" href="/static/logo.ico?v=2" type="image/x-icon"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<link type="text/css" rel="stylesheet" href="/static/fonts/Simple-Line-Icons-Webfont/simple-line-icons.css"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/static/css/qube.css">
    <link type="text/css" rel="stylesheet" href="/static/css/symbol.css">
</head>

<body class="bg-info">
    <div class="loading-page">
        <div class="top">
            <div class="buffer">
            </div>
            <h1>QUBE</h1>
            <h2>"WE ARE BORN TO SUCCEED, NOT FAIL"</h2>
        </div>
    <ul class="social-links">
      <li><a href="/auth/facebook"><span class="symbol">facebook</span><span>Login with Facebook</span></a></li>
      <li><a href="/auth/github"><span class="symbol">githubalt</span><span>Login with Github</span></a></li>
    </ul>
    </div>
</body>
</html>
