<!DOCTYPE html>
<html lang="en">

<head>
	  <% include ./header %>
    <title>Qube</title>
	  <% include ./headerLink %>
</head>

<body>
    <% include ./topnav %>
    <!-- Header -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <div class="overlay"></div>
                        <div class="demo"></div>
                        <h1>Enjoy Your Music Anywhere</h1>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li class="facebook">
                                <a href="/auth/facebook">
                                  <div class="icon"><i class="fa fa-facebook-square fa-fw"></i></div><span class="network-name">Login with Facebook</span></a>
                            </li>
                            <li class="github">
                                <a href="/auth/github">
                                  <div class="icon"><i class="fa fa-github fa-fw"></i></div><span class="network-name">Login with Github</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a name="features"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Search and Create Playlists</h2>
                    <p class="lead"> Search any youtube video, create a playlist with your favourites. <br><br> Enjoy bonus features like <b>Repeat</b> loops a single video. <b>Preview</b> lets you watch videos before commiting them to a playlist.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <div class="searchplay"></div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Auto Generate Playlists</h2>
                    <p class="lead">Auto Generate related songs based on what you listen to most often. <br><br> Enjoy classical piano? Automatically generate the next best songs for your playlist with a single click. <br><br>Need an hour of workout music, pick your favourite pump up song and <b>auto generate</b>.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <div class="discover"></div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <a name="contact"></a>
    <div class="banner">
        <div class="container">
            <div class="row">
                <h2 style="font-size: 35px;">Experience Videos Like Never Before</h2>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->

    <% include ./footer %>
</body>

</html>
