<!DOCTYPE html>
<html lang="en">

<head>
	  <% include ./header %>
    <meta property="og:description" content="" />
    <% if (playlist_id) { %>
    <meta property="og:title" content="Shared Playlist" />
    <% } else { %>
    <meta property="og:title" content="Qube - Login" />
    <% } %>

    <title>Qube - Login</title>
    <link href="/static/landing/css/login.css" rel="stylesheet">
	  <% include ./headerLink %>
</head>
<body class="login-page">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1073442276117241";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="/static/qube_new.png" class="logo">
                <a class="navbar-brand topnav" href="/">
                  <span>Qube</span>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/#features">Features</a>
                    </li>
                    <li>
                        <a href="#">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header -->
    <div class="intro-header login">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <ul class="list-inline intro-social-buttons">
                            <% if (playlist_id) { %>
                            <li class="title">
                                <h1>Qube</h1>
                            </li>
                            <li class="facebook">
                                <a href="/auth/facebook/share/<%= playlist_id %>">
                                  <div class="icon"><i class="fa fa-facebook-square fa-fw"></i></div><span class="network-name">Login with Facebook</span></a>
                            </li>
                            <li class="seperator" data-reactid="37">OR</li>
                            <li class="github">
                                <a href="/auth/github/share/<%= playlist_id %>">
                                  <div class="icon"><i class="fa fa-github fa-fw"></i></div><span class="network-name">Login with Github</span></a>
                            </li>
                            <% } else { %>
                            <li class="title">
                                <h1>Qube</h1>
                            </li>
                            <li class="facebook">
                                <a href="/auth/facebook">
                                  <div class="icon"><i class="fa fa-facebook-square fa-fw"></i></div><span class="network-name">Login with Facebook</span></a>
                            </li>
                            <li class="seperator" data-reactid="37">OR</li>
                            <li class="github">
                                <a href="/auth/github">
                                  <div class="icon"><i class="fa fa-github fa-fw"></i></div><span class="network-name">Login with Github</span></a>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- /.container -->

    <% include ./footer %>
</body>

</html>
