<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta property="og:image" content="http://qubevideos.com/static/images/demo_picture2.png" />
    <meta property="og:description" content="" />
    <% if (playlist_id) { %>
    <meta property="og:title" content="Shared Playlist" />
    <% } else { %>
    <meta property="og:title" content="Qube - Login" />
    <% } %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Qube - Login</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/landing/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/landing/css/landing-page.css" rel="stylesheet">
    <link href="/static/landing/css/login.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/landing/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-page">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="/static/qube_new.png" class="logo">
                <a class="navbar-brand topnav" href="/">
                  <span>Qube</span>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/#features">Features</a>
                    </li>
                    <li>
                        <a href="#">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header -->
    <div class="intro-header login">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <ul class="list-inline intro-social-buttons">
                            <% if (playlist_id) { %>
                            <li class="title">
                                <h1>Qube</h1>
                            </li>
                            <li class="facebook">
                                <a href="/auth/facebook/share/<%= playlist_id %>">
                                  <div class="icon"><i class="fa fa-facebook-square fa-fw"></i></div><span class="network-name">Login with Facebook</span></a>
                            </li>
                            <li class="seperator" data-reactid="37">OR</li>
                            <li class="github">
                                <a href="/auth/github/share/<%= playlist_id %>">
                                  <div class="icon"><i class="fa fa-github fa-fw"></i></div><span class="network-name">Login with Github</span></a>
                            </li>
                            <% } else { %>
                            <li class="title">
                                <h1>Qube</h1>
                            </li>
                            <li class="facebook">
                                <a href="/auth/facebook">
                                  <div class="icon"><i class="fa fa-facebook-square fa-fw"></i></div><span class="network-name">Login with Facebook</span></a>
                            </li>
                            <li class="seperator" data-reactid="37">OR</li>
                            <li class="github">
                                <a href="/auth/github">
                                  <div class="icon"><i class="fa fa-github fa-fw"></i></div><span class="network-name">Login with Github</span></a>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- /.container -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <p class="copyright text-muted small">Copyright &copy; QubeVideos 2016. All Rights Reserved</p>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
    <script src="/static/landing/js/bootstrap.min.js"></script>
</body>

</html>
