<!doctype html>
<html ng-app="QubeApp">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
	<script src="static/javascript/qube.js"></script>
	<link rel="stylesheet" href="static/css/qube.css">
</head>
<body>
	<h2>Todo</h2>
	<div ng-controller="QubeCont">
	  <span>{{playlists.length}} in total</span>
	  <ul class="unstyled">
	    <li ng-repeat="playlist in playlists">
	      <span>{{playlist.name}}</span>
	    </li>
	  </ul>
	  <input ng-model="addPlaylistInput"></input><button ng-click="addPlaylist()"></button>
	</div>

</body>
</html>