<!doctype html>
<html ng-app="QubeApp">

<head>
	<script src="/static/framework/pace/pace.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
	<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
	<script src="/static/javascript/qube.js"></script>
	<script src="/static/javascript/view.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/view.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/framework/font-awesome-4.2.0/css/font-awesome.min.css">
    <script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";

    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '190',
            width: $('.videolist').width(),
            videoId: '_hsrsmwHv0A',
            playerVars: {
                'showinfo': 0,
                'autohide': 0,
                'controls': 1,
                'modestbranding': 1,
                'theme': 'light'
            },
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        event.target.playVideo();
    }

    function onPlayerStateChange(event) {}

    $(document).ready(function() {
        var text = "";
        $('.userVideolist').on('mouseenter', 'span', function() {
            text = $(this).text();
            console.log("enter");
            $(this).text("");
            $(this).append('<i style="color:#e52d4f;" class="fa fa-times"></i>');
            $(this).css("border-left","2px solid #e52d4f");
        });
        $('.userVideolist').on('mouseleave', 'span', function() {
            console.log("exit");
            $(this).children().remove();
            $(this).text(text);
            $(this).css('border-left','0');
            text = "";
        });
    });
    </script>
</head>
<div id="QubePlaylist">
    <div ng-controller="QubeCont">
		<div id='cssmenu' class="topBar">
			<ul>
			   <li class="navi" ng-class="{active: layout == 'playlist'}" ng-click="layout = 'playlist'"><a class="category"><i class="fa fa-th-large"></i> Home</a></li>
			   <li class="navi" ng-class="{active: layout == 'youtube'}" ng-click="layout = 'youtube'"><a class="category"><i class="fa fa-youtube-play"></i> Search</a></li>
			   <li class="navi" ng-class="{active: layout == 'video'}" ng-click="layout = 'video'"><a class="category"><i class="fa fa-arrows-alt"></i> Expand</a></li>
			   <li class='has-sub category logout'><a>Account</a>
			      <ul>
			         <li><a href='#'>Empty</a></li>
							 <li><a href='./logout'>Logout</a></li>
			      </ul>
			   </li>
			</ul>
		</div><!-- END OF TOPBAR -->

		<div class="displayView">
			<div class="left">
				<div ng-show="layout == 'playlist'" class ="view playlist">
					<input type="text" ng-model="searchString" placeholder="Search Playlist">
					<input ng-model="addPlaylistInput"></input><button ng-click="addPlaylist()">add</button>
					<ul class="userPlaylist">
						<li ng-repeat="playlist in playlists | searchFor:searchString" ng-class="{active: currentPlaylist.name == playlist.name}"
								ng-click="changePlaylist(playlist)" >
							<span>{{playlist.name}}</span>
						</li>
					</ul>
				</div><!-- END OF PLAYLIST LAYOUT -->

				<div ng-show="layout == 'youtube'" class ="view youtube">
					<div class="youtubeSearchBar">
						<input ng-model="addVideoInput" placeholder="Search for Youtube videos"></input>
						<button ng-click="searchYt(addVideoInput)"><span></span></button>
					</div>
					<div class="video" ng-repeat="video in ytSearchResult" ng-click="addVideo(video)">
					  <div class="video-image">
					  	<img class="video-image" src="{{ video.thumbnail }}">
					  	<p class="video-duration">{{ video.contentDetails.duration }}</p>
					  </div>
					  <p class="video-title">{{ video.snippet.title }}</p>
						<ul>
						  <li class="video-author">by {{ video.author }}</li>
						  <li class="video-views"> {{ video.views }} views </li>
						</ul>
						<p class="video-description">{{ video.description }}</p>
					</div>
				</div><!-- END OF YOUTUBE LAYOUT -->

				<div ng-show="layout == 'video'" class ="view video">
					Video View mode!
				</div><!-- END OF VIDEO LAYOUT -->
			</div><!-- END OF LEFT VIEW -->
		 	<div class ="right">
				<div class ="videolist">
					<div class ="playlistHeader">
						<span> {{currentPlaylist.name}} </span>
					</div>
					<div class="player" style="position:relative; height:inherit; width:inherit;">
						<div id="player"></div>
					</div>
					<ul class="userVideolist">
						<li ng-repeat="video in videos" ng-class="{active: video == currentPlaying}"
								ng-click="playVideo(video)" >
							<a>{{video.snippet.title}}</a>
							<span>{{video.contentDetails.duration}}</span>
						</li>
					</ul>
				</div>
			</div><!-- END OF RIGHT VIEW -->
		</div> <!-- END OF .displayView -->
	</div><!-- END OF ng-controller="QubeCont" -->
</div><!-- END OF #QubePlaylist -->

</body>

</html>
