<!doctype html>
<html ng-app="QubeApp">

<head>
	<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="/static/framework/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
	<script src="/static/framework/pace/pace.min.js"></script>
	<script src="/static/javascript/qube.js"></script>
	<script src="/static/javascript/view.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/view.css">

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/framework/font-awesome-4.2.0/css/font-awesome.min.css">
    <script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";

    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '190',
            width: $('.videolist').width(),
            videoId: '',
            playerVars: {
                'showinfo': 0,
                'autoplay': 1,
                'autohide': 0,
                'controls': 0,
                'modestbranding': 1,
                'theme': 'light'
            },
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        event.target.playVideo();
    }

    function onPlayerStateChange(event) {
    	if(event.data == YT.PlayerState.ENDED){
    		var $el = $('.userVideolist li.active');
    		var scope = angular.element($el).scope();
    		scope.$apply(function(){
    			scope.nextVideo();
    		});
    	}
    }

    $(document).ready(function() {
        var text = "";
        $('.userVideolist').on('mouseenter', 'span', function() {
            text = $(this).text();
            $(this).text("");
            $(this).append('<i style="color:#e52d4f;" class="fa fa-times"></i>');
            $(this).css("border-left","2px solid #e52d4f");
        });
        $('.userVideolist').on('mouseleave', 'span', function() {
            $(this).children().remove();
            $(this).text(text);
            $(this).css('border-left','0');
            text = "";
        });
    });
    </script>
</head>
<div id="QubePlaylist">
    <div ng-controller="QubeCont">
		<div id='cssmenu' class="topBar">
			<ul>
			   <li class="navi" ng-class="{active: layout == 'playlist'}" ng-click="layout = 'playlist'"><a class="category"><i class="fa fa-th-large"></i> Home</a></li>
			   <li class="navi" ng-class="{active: layout == 'youtube'}" ng-click="layout = 'youtube'"><a class="category"><i class="fa fa-youtube-play"></i> Search</a></li>
			   <li class="navi" ng-class="{active: layout == 'video'}" ng-click="layout = 'video'"><a class="category"><i class="fa fa-arrows-alt"></i> Expand</a></li>
			   <li class='has-sub category logout'><a>Account</a>
			      <ul>
			         <li><a href='#'>Empty</a></li>
							 <li><a href='./logout'>Logout</a></li>
			      </ul>
			   </li>
			</ul>
		</div><!-- END OF TOPBAR -->

		<div class="displayView">
			<div class="left">
				<div ng-show="layout == 'playlist'" class ="view playlist">
					<div class="playlistSearch">
						<input type="text" ng-model="searchString" placeholder="Search Playlist">
						<button><span></span></button>
					</div>
					<ul class="userPlaylist">
						<li ng-repeat="playlist in playlists | searchFor:searchString" ng-class="{active: currentPlaylist.name == playlist.name}"
								ng-click="changePlaylist(playlist)" >
							<div class="playlistThumbnail">
								<img class="playlistThumbnail" src="{{ playlist.data[0].snippet.thumbnails.medium.url }}">
							</div>
							<div class="playlistDetail">
								<div class="title">{{playlist.name}}</div>
								<div class="duration">{{playlist.data.length}} songs - 31:02</div>
							</div>
						</li>
						<li id="addPlaylist" >
							<div class="playlistThumbnail"><i class="fa fa-plus"></i></div>
							<div class="playlistDetail">
								<div class="title">Add a playlist!</div>
								<div class="duration">Click to add a playlist</div>
							</div>
						</li>
					</ul>

					<input ng-model="addPlaylistInput"></input><button ng-click="addPlaylist()">add</button>
				</div><!-- END OF PLAYLIST LAYOUT -->

				<div ng-show="layout == 'youtube'" class ="view youtube">
					<div class="youtubeSearchBar">
						<input ng-model="addVideoInput" ng-change="queryYoutube()" placeholder="Search for Youtube videos"></input>
						<button ng-click="searchYt(addVideoInput)"><span></span></button>
					</div>
					<div class="video" ng-repeat="video in ytSearchResult" ng-click="addVideo(video)">
					  <div class="video-image">
					  	<img class="video-image" src="{{ video.thumbnail }}">
					  	<p class="video-duration">{{ video.contentDetails.duration }}</p>
					  </div>
					  <p class="video-title">{{ video.snippet.title }}</p>
						<ul>
						  <li class="video-author">by {{ video.author }}</li>
						  <li class="video-views"> {{ video.views }} views </li>
						</ul>
						<p class="video-description">{{ video.description }}</p>
					</div>
				</div><!-- END OF YOUTUBE LAYOUT -->

				<div ng-show="layout == 'video'" class ="view video">
					Video View mode!
				</div><!-- END OF VIDEO LAYOUT -->
			</div><!-- END OF LEFT VIEW -->
		 	<div class ="right">
				<div class ="videolist">
					<div class ="playlistHeader">
						<span> {{currentPlaylist.name}} </span>
					</div>
					<div class="player" style="position:relative; height:inherit; width:inherit;">
						<div id="player"></div>

							<div class="volume" ng-controller="volumeController">
								<i class="fa fa-volume-up"></i>
								<progressbar max="max" value="volume" class="volumeBar"><span style="color:black; white-space:nowrap;"></span></progressbar>
							</div>
							<ul class="controllers" style="width:200px; position:relative; display:inline-block; font-size:15px;">
								<li class="fa fa-backward" ng-click="prevVideo()"></li>
								<li class="fa fa-play" ng-click="togglePlayVideo()"></li>
								<li class="fa fa-forward" ng-click="nextVideo()"></li>
							</ul>
					</div>

					<ul class="userVideolist">
						<li ng-repeat="video in videos" ng-class="{active: video.id == currentPlaying}" ng-click="togglePlayVideo(video.id)" id="{{ video.id }}">
							<a>{{video.snippet.title}}</a>
							<span>{{video.contentDetails.duration}}</span>
						</li>
					</ul>
				</div>
			</div><!-- END OF RIGHT VIEW -->
		</div> <!-- END OF .displayView -->
	</div><!-- END OF ng-controller="QubeCont" -->
</div><!-- END OF #QubePlaylist -->

</body>

</html>
