<!doctype html>
<html ng-app="QubeApp">

<head>
    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="/static/framework/pace/pace.min.js"></script>
    <script type="text/javascript" src="../static/framework/login-popup/js/jquery.leanModal.min.js"></script>
    <script src="../static/framework/looper/looper.min.js"></script>
    <script src="/static/javascript/qube.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="../static/framework/login-popup/css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/framework/font-awesome-4.2.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/framework/looper/looper.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/final.css">
    <script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";

    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    var durationCounter = 0;

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '198',
            width: $('.videolist').width(),
            videoId: '',
            playerVars: {
                'showinfo': 0,
                'autohide': 0,
                'controls': 0,
                'modestbranding': 1
            },
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        event.target.playVideo();
    }

    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.ENDED) {
            var $volumeElement = $('.userVideolist li.active');
            var scope = angular.element($volumeElement).scope();
            scope.$apply(function() {
                scope.nextVideo();
            });
        }
    }

    function onVolumeChange(el, volume) {
        var scope = angular.element(el).scope();
        scope.$apply(function() {
            scope.changeVolume(volume);
        });
    }

    $(document).ready(function() {

        $("#addPlaylist").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

        var text = "";
        $('.userVideolist').on('mouseenter', 'span', function() {
            text = $(this).text();
            $(this).text("");
            $(this).append('<i style="color:#e52d4f;" class="fa fa-times"></i>');
            $(this).css("border-left", "2px solid #e52d4f");
        });
        $('.userVideolist').on('mouseleave', 'span', function() {
            $(this).children().remove();
            $(this).text(text);
            $(this).css('border-left', '0');
            text = "";
        });

        $(".volumeBar").slider();
        var $volume = $(".volumeBar");
        var $volumeElement = $(".volumeBar span");
        $volumeElement.css('left', 'calc(100% - 5px)');

        $(".progressBar").slider();
        var $progress = $(".progressBar");
        var $progressElement = $(".progressBar span");
        $progressElement.css('left', '99.2%');
        $(".volume i").on('click', function() {
            $(this).toggleClass('fa-volume-up');
            $(this).toggleClass('fa-volume-off');
        });

        $progress.on('mousedown', function() {
            console.log("in");
            $(document).on('mousemove', function() {
                console.log(parseInt($progressElement.css('left')));
                if (parseInt($progressElement.css('left')) > 341) {
                    $progressElement.css('left', '99.2%');
                }
            });
        });
        $volume.on('mousedown', function() {
            var outerWidth = parseInt($('.volumeBar').css('width'));
            var prev = outerWidth;
            $(document).on('mousemove', function() {
                if (prev !== parseInt(parseInt($volumeElement.css('left')) / outerWidth * 100)) {
                    prev = parseInt(parseInt($volumeElement.css('left')) / outerWidth * 100);
                    onVolumeChange($volumeElement, prev);
                    $(".volumeBar div.volumeLevel").css('width', parseInt($volumeElement.css('left')));
                    if (prev == 0) {
                        $(".volume i").removeClass('fa-volume-up');
                        $(".volume i").removeClass('fa-volume-down');
                        $(".volume i").addClass('fa-volume-off');
                    } else if (prev < 50) {
                        $(".volume i").removeClass('fa-volume-up');
                        $(".volume i").addClass('fa-volume-down');
                        $(".volume i").removeClass('fa-volume-off');
                    } else if (prev > 50) {
                        $(".volume i").addClass('fa-volume-up');
                        $(".volume i").removeClass('fa-volume-down');
                        $(".volume i").removeClass('fa-volume-off');
                    }
                }
            });
        });
        $(document).on('mouseup', function() {
            var outerWidth = parseInt($('.volumeBar').css('width'));
            var prev = outerWidth;
            if (prev !== parseInt(parseInt($volumeElement.css('left')) / outerWidth * 100)) {
                prev = parseInt(parseInt($volumeElement.css('left')) / outerWidth * 100);
                onVolumeChange($volumeElement, prev);
                $(".volumeBar div.volumeLevel").css('width', parseInt($volumeElement.css('left')));
            }
        });

        $(window).bind("load resize", function(){
            $('.searchResultColumn').height($(this).height()- ($('.topHeader').outerHeight() + $('.youtubeSearchBar').outerHeight()));
            $('.userVideolist').height($(window).height()- ($('.playlistHeader').outerHeight() + $('.player').outerHeight()));
            console.log($(this).height());
            console.log($('.playlistHeader').height());
            console.log($('.player').height());
            $('.userPlaylist').height($(this).height()- ($('.topHeader').outerHeight() + $('.youtubeSearchBar').outerHeight() + $('.yourPlaylists').outerHeight() + $('.playlistSearch').outerHeight() + $('.addPlaylist').outerHeight()));
        });
    });
    </script>
</head>

<body>
    <div id="QubePlaylist">
        <div ng-controller="QubeCont">
            <div class="sideMenu">
                <ul>
                    <li><a class="category"><i class="fa fa-th-large"></i></a>
                    </li>
                    <li ng-class="{active: layout == 'main'}" ng-click="layout = 'main'"><a class="category"><i class="fa fa-youtube-play"></i></a>
                    </li>
                    <li ng-class="{active: layout == 'global'}" ng-click="layout = 'global'"><a class="category"><i class="fa fa-arrows-alt"></i></a>
                    </li>
                </ul>
            </div>
            <!-- END OF sideMenu -->
            <div class="mainView">
                <div ng-show="layout == 'main'" class="view main">
                    <div>
                      <div data-looper="go" class="topHeader looper slide up">
                          <div class="looper-inner looper-icon noselect">
                            <i class="fa fa-music"></i>
                          </div>
                          <div class="looper-inner looper-content">
                              <div class="item">
                                  <span>
                                      <span>Currently Playing:</span>Flower Park Flower Shin
                                  </span>
                              </div>
                              <div class="item">
                                  <span>
                                      <span>Playing Next:</span>Shinning Parking Power
                                  </span>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="youtubeSearchBar">
                        <input ng-model="addVideoInput" ng-change="queryYoutube()" placeholder="Search for Youtube videos"></input>
                    </div>
                    <div class="playlistColumn">
                        <div class="yourPlaylists">
                            Your Playlists
                        </div>
                        <div class="playlistSearch">
                            <input type="text" ng-model="searchString" placeholder="Search Playlist">
                        </div>
                        <ul class="userPlaylist scrollbar">
                            <li ng-repeat="playlist in playlists | searchFor:searchString" ng-class="{active: currentPlaylist.name == playlist.name}" ng-click="changePlaylist(playlist)">
                                <div class="playlistDetail">
                                    <div class="title">{{playlist.name}}</div>
                                    <div class="float-right" id="playlistRemove" ng-click="removePlaylist(playlist)"><i class="fa fa-times"></i></div>
                                    <div class="float-right duration">{{playlist.duration}}</div>
                                </div>
                            </li>
                        </ul>
                        <div class="addPlaylist">
                          <a id="addPlaylist" href="#addPlaylistModal">
                            <i class="fa fa-plus"></i>
                            Add a playlist!
                          </a>
                        </div>
                    </div>
                    <!-- END OF PLAYLIST COLUMN -->
                    <div class="searchResultColumn scrollbar">
                        <div class="video" ng-repeat="video in ytSearchResult" ng-click="addVideo(video)">
                            <div class="video-image">
                                <img class="video-image" src="{{ video.thumbnail }}">
                            </div>
                            <div class="video-detail">
                                <div class="overflowEllipsis">
                                    <span class="video-title">{{ video.snippet.title }}</span>
                                </div>
                                <span class="video-duration">{{ video.contentDetails.duration }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF MAIN LAYOUT -->
            </div>
            <!-- END OF mainView -->
            <div class="playView">
                <div class="videolist">
                    <div class="playlistHeader">
                        <span>{{currentPlaylist.name}}</span>
                    </div>
                    <div class="player" style="position:relative; height:inherit; width:inherit;">
                        <div id="player"></div>
                        <div class="progressBar">
                            <div class="progressLevel"></div>
                        </div>
                        <div class="volume noselect">
                            <i class="fa fa-volume-up" style="width:10px;"></i>
                            <div class="volumeBar">
                                <div class="volumeLevel"></div>
                            </div>
                        </div>
                        <div class="controllers-container noselect">
                            <ul class="controllers" style="font-size:15px;">
                                <li class="fa fa-backward" ng-click="prevVideo()"></li>
                                <li class="fa fa-play" ng-click="togglePlayVideo()"></li>
                                <li class="fa fa-forward" ng-click="nextVideo()"></li>
                            </ul>
                        </div>
                    </div>

                    <ul class="userVideolist scrollbar">
                        <li ng-repeat="video in videos" ng-class="{active: video.id == currentPlaying}" ng-click="togglePlayVideo(video.id)" id="{{ video.id }}">
                            <a>{{video.snippet.title}}</a>
                            <span>{{video.contentDetails.duration}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END OF playView -->



            <div id="addPlaylistModal" class="popupContainer" style="display:none;">
              <header class="popupHeader">
                <span class="header_title">New Playlist</span>
                <span class="modal_close"><i class="fa fa-times"></i></span>
              </header>

              <section class="popupBody">
                <div class="addPlaylistModalBody">
                  <input ng-model="addPlaylistInput"></input>
                  <button ng-click="addPlaylist()" class="modal_close"><i class="fa fa-floppy-o"></i></button>
                </div>
              </section>
            </div>
        </div>
        <!-- END OF NG-CONTROLLER -->
    </div>
</body>

</html>
