@font-face {
  font-family: 'Proxima-Nova-Light';
  src: url('/static/fonts/Proxima-Nova/Mark Simonson - Proxima Nova Alt Light.otf');
}

html, body, div, span, button, input, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
*{
  outline:none;
}

.active {
  color:#fff;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #000;
  color: #fff;
  line-height: 1.40;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  overflow-x: hidden;
}
ul {
  list-style: none;
  overflow: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
.float-right {
  float: right;
}
.font-bold {
  font-weight: 700;
}
.scrollbar {
  overflow-y: auto;
}
.i-lg {
  font-size: 18.75px;
}
.i-2x {
  font-size: 32px;
}
.player{
  height: 310px;
}
.fade-out{
  -webkit-transition: opacity 1.5s ease-out;
  -moz-transition: opacity 1.5s ease-out;
  -ms-transition: opacity 1.5s ease-out;
  -o-transition: opacity 1.5s ease-out;
  opacity: 0;
}
.fade-out-lt{
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  opacity: 0!important;
}
.fade-in-lt{
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  opacity: 1!important;
}
.hide{
  display:none!important;
}
.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #333;
}
.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #555;
}


@-webkit-keyframes movingbar1{
  0%{height:32%;}
  25%{height:80%;}
  50%{height:56%;}
  75%{height:100%;}
  100%{height:84%;}
}
@-moz-keyframes movingbar1{
  0%{height:32%;}
  25%{height:80%;}
  50%{height:56%;}
  75%{height:100%;}
  100%{height:84%;}
}
@keyframes movingbar1{
  0%{height:32%;}
  25%{height:80%;}
  50%{height:56%;}
  75%{height:100%;}
  100%{height:84%;}
}

@-webkit-keyframes movingbar2{
  0%{height:20%;}
  25%{height:58%;}
  50%{height:90%;}
  75%{height:74%;}
  100%{height:53%;}
}
@-moz-keyframes movingbar2{
  0%{height:20%;}
  25%{height:58%;}
  50%{height:90%;}
  75%{height:74%;}
  100%{height:53%;}
}
@keyframes movingbar2{
  0%{height:20%;}
  25%{height:58%;}
  50%{height:90%;}
  75%{height:74%;}
  100%{height:53%;}
}

@-webkit-keyframes movingbar3{
  0%{height:34%;}
  25%{height:69%;}
  50%{height:100%;}
  75%{height:82%;}
  100%{height:41%;}
}
@-moz-keyframes movingbar3{
  0%{height:34%;}
  25%{height:69%;}
  50%{height:100%;}
  75%{height:82%;}
  100%{height:41%;}
}
@keyframes movingbar3{
  0%{height:34%;}
  25%{height:69%;}
  50%{height:100%;}
  75%{height:82%;}
  100%{height:41%;}
}

@-webkit-keyframes movingbar4{
  0%{height:80%;}
  25%{height:49%;}
  50%{height:59%;}
  75%{height:82%;}
  100%{height:65%;}
}
@-moz-keyframes movingbar4{
  0%{height:80%;}
  25%{height:49%;}
  50%{height:59%;}
  75%{height:82%;}
  100%{height:65%;}
}
@keyframes movingbar4{
  0%{height:80%;}
  25%{height:49%;}
  50%{height:59%;}
  75%{height:82%;}
  100%{height:65%;}
}

@-webkit-keyframes movingbar5{
  0%{height:50%;}
  25%{height:30%;}
  50%{height:90%;}
  75%{height:50%;}
  100%{height:65%;}
}
@-moz-keyframes movingbar5{
  0%{height:50%;}
  25%{height:30%;}
  50%{height:90%;}
  75%{height:50%;}
  100%{height:65%;}
}
@keyframes movingbar5{
  0%{height:50%;}
  25%{height:30%;}
  50%{height:90%;}
  75%{height:50%;}
  100%{height:65%;}
}

.loading-page{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:1999; /* as pace has 2000 */
}

.ui-autocomplete {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:14;
  font-weight:400;
  background: #2f2f2f;
  border: 0!important;
  overflow: hidden;
  color: #eee;
}
.ui-autocomplete > li.ui-menu-item {
  border-bottom:1px #242424 solid;
  padding: 7px 10px;
}
.ui-autocomplete > .ui-menu-item:hover {
  background: #404040;
  color: #eee;
  border:1px #404040 solid;
  border-bottom:2px #404040 solid;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #404040;
  color: #eee;
  border:1px #404040 solid;
  border-bottom:2px #404040 solid;
}
#QubePlaylist {
  min-width: 9gi00px;
  width: 100%;
  height:100%;
  position: absolute;
}
#QubePlaylist .view.main .playlistColumn {
  background-color: #1b1b1b;
  overflow: auto;
}
#QubePlaylist .view.main .searchResultColumn {
  background-color: #1b1b1b;
  border-left: 1px solid #242424;
  border-right: 1px solid #242424;
  overflow: auto;
}
#QubePlaylist .view.main .listDisplay .placeholder {
  text-align: center;
  vertical-align: middle;
  margin-top: 45%;
  position: relative;
  color: #c5c5c5;
  font-size: 18px;
  padding: 0 30px;
}
#QubePlaylist .view.main .listDisplay .placeholder > i {
  font-size: 55px;
}
#QubePlaylist .view.main .listDisplay .placeholder > p {
  margin-top: 20px;
}
#QubePlaylist .view.main .video-image {
  float: left;
}
#QubePlaylist .view.main .video-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 15px);
  display: block;
}
#QubePlaylist .video-duration {
  float: left;
  position: absolute;
  right: calc(100% - 108px);
  padding: 1px 3px;
  bottom: 17px;
  font-size: 12px;
  background-color: black;
}
#QubePlaylist .view.main .video-image img {
  height: 75px;
  position: relative;
  width: 100px;
}
#QubePlaylist .view.main .video-detail {
  margin-left: 115px;
  font-weight: 400;
}
#QubePlaylist .view.main .video {
  padding: 18px 8px 18px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  position: relative;
}
#QubePlaylist .sideMenu ul {} #QubePlaylist .sideMenu ul li.active {
  font-size: 20px;
}
#QubePlaylist .sideMenu ul li a {} #QubePlaylist .mainView {
  width: 50%;
  height: 100%;
  display: inline-block;
}
#QubePlaylist .topHeader {
  background-color: #242424;
  height: 60px;
}
#QubePlaylist .topHeader > div.logo {
  display: block;
  padding: 0;
  line-height: 60px;
  text-align: center;
  font-size: 16px;
  width: 70px;
  position: absolute;
  background-color: #242424;
}
#QubePlaylist .topHeader > div.logo > a {
  height: 20px;
}
#QubePlaylist .topHeader > span {
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 17px;
  color: #E5E5E5;
  margin-left: 70px;
  text-align: center;
  line-height: 60px;
  display: block;
  margin: 0 auto;
}
#QubePlaylist .topHeader .playingPlaylist {
  color: #ccc;
  font-size: 13px;
  position: relative;
  top: -1px;
  margin-right: 5px;
  text-transform: uppercase;
}
#QubePlaylist .playView {
  width: 50%;
  height: 100%;
  background-color: #101010;
  float: left;
}
#QubePlaylist .videolist .userVideolist {
  list-style-type: none;
  color: #E5E5E5;
  overflow: auto;
}

#QubePlaylist .videolist .userVideolist > div{
  width: 640px!important;
}

#QubePlaylist .videolist .userVideolist > div > i{
  font-size: 50px;
  color:#fff;
  z-index:4;
}

#QubePlaylist .videolist .userVideolist li {
  border-bottom: 1px solid #242424;
  padding: 10px 10px;
  color: #767676;
  background-color: #101010;
}
#QubePlaylist .videolist .userVideolist li.active, #QubePlaylist .videolist .userVideolist li.active a, #QubePlaylist .videolist .userVideolist li.active span.title, #QubePlaylist .videolist .userVideolist li.active span.duration {
  background-color: #1d1d1d;
  color: #f47f7f;
}
#QubePlaylist .videolist .userVideolist li:hover {
  cursor: pointer;
  color: #fff;
}
#QubePlaylist .videolist .userVideolist span.title {
  position: relative;
  top: 2px;
  width: 80%;
  display: inline-block;
  overflow: hidden;
  font-size: 14px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #fdfdfd;
}
#QubePlaylist .videolist .userVideolist span.duration, #QubePlaylist .videolist .userVideolist span.close {
  position: relative;
  top: 2px;
  float: right;
  display: inline-block;
  font-size: 14px;
  text-align: right;
  margin-left: 10px;
  color: #767676;
}
#QubePlaylist .videolist .userVideolist span.duration {
  display: inline;
}
#QubePlaylist .videolist .userVideolist > li:hover span.duration {
  display: none;
}
#QubePlaylist .videolist .userVideolist span.close {
  display: none;
}
#QubePlaylist .videolist .userVideolist > li:hover span.close {
  display: inline;
}
#QubePlaylist .videolist .userVideolist span.close:hover {
  color:#fff;
}
#QubePlaylist .videolist .userVideolist a {
  margin-right: 10px;
  color: #767676;
}
#QubePlaylist .videolist .userVideolist a:hover {
  color: #fff;
}
#QubePlaylist .videolist .player {
  position:relative;
  border-top: 5px solid #0d1215;
  z-index:1;
}
#QubePlaylist .videolist .player.fullscreen {
  position:absolute;
  border:0;
}
#QubePlaylist .videolist .overlay{
  position: absolute;
  top: 0px;
  height: 100%;
  background-color: #101010;
  width: 100%;
  z-index:3;
}
#QubePlaylist .videolist .overlay > div{
  height: 310px!important;
}
#QubePlaylist .videolist .overlay > div > i{
  font-size: 50px;
  color:#fff;
  z-index:4;
}
#QubePlaylist .videolist .player {
  background-color: #0d1215;
}
#QubePlaylist .bottomContainer {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #242424;
  bottom: 0;
  padding: 0 15px;
  z-index: 100;
  box-shadow: rgb(17, 17, 17) 0px 0px 5px 0.5px;
}
#QubePlaylist .bottomContainer div {
  position: relative;
  margin: 0 auto;
  display: inline-block;
}
#QubePlaylist .bottomContainer .controllers-container li,
#QubePlaylist .bottomContainer div.time span,
#QubePlaylist .bottomContainer div.volume-icon i,
#QubePlaylist .bottomContainer div.replay-all-icon i,
#QubePlaylist .bottomContainer div.replay-one-icon i,
#QubePlaylist .bottomContainer div.shuffle-icon i,
#QubePlaylist .bottomContainer div.full-screen-icon i,
#QubePlaylist .bottomContainer div.volume div,
#QubePlaylist .videolist .overlay div,
#QubePlaylist .videolist .userVideolist div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 40px;
  height: 60px;
}
#QubePlaylist .bottomContainer .controllers-container .controllers li {
  color: #e6eaed;
  cursor: pointer;
}
#QubePlaylist .bottomContainer .controllers-container .controllers li:hover {
  color: #fff;
}
#QubePlaylist .bottomContainer .progressBar {
  position: relative;
  height: 60px;
  display: inline-block;
  width: calc(100% - 473px);
  background: 0;
  background-color: #2f2f2f;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-radius: 0px;
  border: 0;
  margin: 0 15px;
  font: inherit;
}
#QubePlaylist .bottomContainer div.progressBar > div {
  text-align: center;
  background-color: transparent;
  position: absolute;
  width: 100%;
  line-height: 60px;
}
#QubePlaylist .bottomContainer div.progressBar > div > span {
  color: #fff;
  font-size: 14px;
}
#QubePlaylist .bottomContainer .progressBar > span {
  width: 0px;
  margin: 0;
  margin-right: 3px;
  background-color: #e6eaed;
  border: 0;
  top: 0em;
  height: 100%;
  outline: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-radius: 0px;
}
#QubePlaylist .bottomContainer .progressBar > div.progressLevel {
  width: 0;
  height: 60px;
  bottom: 0;
  position: absolute;
  background-color: rgb(64, 64, 64) !important;
}
#QubePlaylist .bottomContainer div.progressBar > div > span {
  text-align: center;
  width: 100%;
}
#QubePlaylist .bottomContainer div.time {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  cursor: default;
}
#QubePlaylist .bottomContainer div.time span {
  font-size: 12px;
  color: #767676;
}
#QubePlaylist .bottomContainer .volume{
  margin-right:5px
}
#QubePlaylist .bottomContainer .volume .volumeBar div.volumeLevel, #QubePlaylist .bottomContainer .progressBar div.progressLevel {
  background-color: #767676;
  display: block;
  float: left;
}
#QubePlaylist .bottomContainer .volume-icon > i {
  cursor: pointer;
}
#QubePlaylist .bottomContainer .volume-icon > i:hover {
  color: #fff;
}
#QubePlaylist .bottomContainer .volume .volumeBar-container {
  width: 100%;
}
#QubePlaylist .bottomContainer .volume .volumeBar {
  position: relative;
  margin: 0;
  cursor: pointer;
  background: 0;
  height: 6px;
  background-color: #404040;
  width: 60px;
}
#QubePlaylist .bottomContainer .volume .volumeBar div.volumeLevel {
  width: 100%;
  border-radius: 3px;
  height: 8px;
}
#QubePlaylist .bottomContainer .volume .volumeBar.ui-widget-content {
  border: 0;
}
#QubePlaylist .bottomContainer .volume .volumeBar span {
  width: 0px;
  margin-left: 0!important;
  background-color: #767676;
  border-radius: 50%;
  height: 0;
  top: -0.1em;
  border: 0;
  outline: 0;
}
#QubePlaylist .bottomContainer .full-screen-icon,
#QubePlaylist .bottomContainer .replay-all-icon,
#QubePlaylist .bottomContainer .replay-one-icon,
#QubePlaylist .bottomContainer .shuffle-icon {
  color: #767676;
  width:30px;
  cursor: pointer;
}

#QubePlaylist .bottomContainer .icon-container {
  position: relative;
  top: -23px;
}
#QubePlaylist .bottomContainer .shuffle-icon .icon-container {
  top: -23px;
}
#QubePlaylist .bottomContainer .full-screen-icon .icon-container {
  top: -25px;
}

#QubePlaylist .bottomContainer .replay-all-icon span, #QubePlaylist .bottomContainer .replay-one-icon span {
  font-size:14px;
}
#QubePlaylist .bottomContainer .replay-one-icon.active {
  color:#f47f7f;
}
#QubePlaylist .bottomContainer .shuffle-icon {
  font-size:16px;
}
#QubePlaylist .bottomContainer .shuffle-icon.active {
  color: #f47f7f;
}
#QubePlaylist .bottomContainer .full-screen-icon{
  top:2px;
  font-size:13px;
}
#QubePlaylist .bottomContainer .full-screen-icon.active {
  color: #f47f7f;
}
#QubePlaylist .bottomContainer .shuffle-icon > i, #QubePlaylist .bottomContainer .full-screen-icon > i{
  cursor:pointer;
}
#QubePlaylist #addPlaylistModal {
  width: auto;
  background-color: #131313;
  width: 550px;
  border: 1px solid #212121;
}
#QubePlaylist #addPlaylistModal .popupHeader {
  border-radius: 2px 2px 0 0;
  background-color: #131313;
  color: #fff;
  border-bottom: 1px solid transparent;
  font-weight:400;
}
#QubePlaylist #addPlaylistModal .popupHeader .modal_close {
  background-color: #131313;
  color:#fff;
  cursor:default;
}
#QubePlaylist #addPlaylistModal .popupHeader .modal_close i{
  cursor:pointer;
}
#QubePlaylist #addPlaylistModal .popupBody {
  padding:0;
}
#QubePlaylist #addPlaylistModal .popupBody .addPlaylistModalBody {
  font-size: 16px;
}

#QubePlaylist .view.main .playlistSearch {
  padding: 2px;
  background-color: #323742;
}
#QubePlaylist .mainView .view.main .playlistDetail .title, #QubePlaylist .mainView .view.main .playlistDetail .duration {
  display: block;
  padding: 1px;
  padding-left: 80px;
  font-size: 14px;
  width: calc(100% - 110px);
  text-overflow: ellipsis;
  overflow: hidden;
}
#QubePlaylist .mainView .view.main .playlistDetail .duration {
  color: #767676;
}
#QubePlaylist .mainView .view.main .playlistDetail .edit {
  height: 20px;
}
#QubePlaylist .mainView .view.main .playlistDetail .edit > input {
  color: #fff;
  position: relative;
  background: transparent;
  padding:0;
  margin:0;
  background-color: transparent;
  border-bottom: 1px solid #404040;
  display: none;
  min-width:125px;
  max-width: calc(100% - 85px);
}
#QubePlaylist .mainView .view.main .playlistDetail .edit .text {
  color: #fff;
  max-width: calc(100% - 80px);
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#QubePlaylist .view.main .playlistColumn .userPlaylist li {
  padding: 12px 10px;
  border-bottom: 1px solid rgb(36, 36, 36);
  font-size: 13px;
  color: #ffffff;
  padding-left: 15px;
}
#QubePlaylist .view.main .playlistColumn .userPlaylist li:hover, #QubePlaylist .view.main .playlistColumn .userPlaylist li.active {
  background-color: #2d2d2d;
  cursor:pointer;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: 0;
}
.ytVidHover {
  margin-top: 16px;
}
.ytVidHover * {
  margin-right: 12px;
  color: rgb(199, 199, 199);
}
.ytVidHover *:hover {
  color: #eee;
}
.ytVidHover select:hover{
  border:1px solid #aaa;
}
.ytVidHover .addVideo {
  display: inline-block;
  background: transparent;
  cursor: pointer;
  font-size: 12px;
}
.ytVidHover .addVideo:hover {
  color:#fff;
}
.video.addingToPlaylist .ytVidHover .addVideo {
  border: 1px solid #fff;
}
.video.addingToPlaylist .ytVidHover .addVideo {
  color: #fff;
}

.video-views {
  font-size: 13px;
  color: rgb(190, 190, 190);
}
.playlistThumbnail {
  max-height: 38px;
  float: left;
  position: absolute;
  top: 2px;
}
.userPlaylist .icon-container {
  position: relative;
  top: -28px;
}
.userPlaylist li .icon-container .optionContainer {
  visibility: hidden;
}
.userPlaylist li:hover .icon-container .optionContainer {
  visibility: visible;
}
.userPlaylist .icon-container .sf-menu-sub {
  position: absolute;
  right: 0;
}
#QubePlaylist .view.main .playlistColumn .userPlaylist .icon-container .sf-menu-sub .playlist-menu {
  padding: 7px 30px;
  border-bottom: 1px solid #242424;
}
#QubePlaylist .view.main .playlistColumn .userPlaylist .icon-container .sf-menu-sub .playlist-menu:last-child {
  border: none;
}
#QubePlaylist .view.main .playlistColumn .userPlaylist .icon-container .sf-menu-sub .playlist-menu:hover {
  background-color: #404040;
}
#QubePlaylist .view.main .playlistColumn .userPlaylist li.moreOptionOpen .icon-container .optionContainer {
  visibility: visible;
}
.playPlaylist {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: 1px solid #767676;
  color: #767676;
  padding: 2px 10px;
  border-radius: 4px;
  top:-5px;
  margin-right:10px;
  position: relative;
}
.playPlaylist:hover {
  border: 1px solid #fff;
  color: #fff;
}
.playPlaylist > span {
  display: none;
}
.playPlaylist.active {
  color: #f47f7f;
  border-color: #f47f7f;
  background-color: #f47f7f;
  font-weight: 600;
  color: #fff !important;
}
.playPlaylist.active > span {
  display: inline;
}
.speaker {
  position:relative;
  color: #fff;
  margin-right:15px;
}
#preview {
  position: relative;
  top: -28px;
}
.listDisplay {
  width: calc(100% - 80px);
  float: left;
}
.listControl {
  width: 80px;
  overflow: auto;
  display: inline-block;
  background-color: #242424;
}
.listControl li {
  padding: 20px;
}
.img-full {
  width: 100%;
}
.lcHeader {
  text-transform: uppercase;
  font-weight:600;
  font-size: 12px;
  padding-top: 5px;
}
.lcPlaylistAdd .lcHeader {
  color: #1ab667;
}
.lcContact .lcHeader {
  color: silver;
}

.listControl > div {
  color: grey;
}
.listControl > div.selected {
  color: #fff;
}

.listControl .lcSelectionIndicator {
  width: 3px;
  min-height: 68px;
  float: right;
  visibility: hidden;
}
.listControl .lcSelectionIndicator {
  background-color: #f47f7f;
}
.listControl .selected .lcSelectionIndicator {
  visibility: visible;
}
.listControl .lcContentContainer {
  height: 48px;
  padding: 10px;
  margin: 10px 0;
}
.listControl .lcDescription {
  color: #767676;
}
.lcContentContainer{
  text-align: center;
}
.lcContentContainer .icon {
  zoom: 1.5;
}
.listControl input {
  background-color: transparent;
  border-bottom: 1px solid grey;
  padding: 5px 10px;
  width: calc(100% - 20px);
  font-size: 16px;
  color: #eaf6f9;
  outline: none;
  margin-top: 40px;
}

.listControl span {
  display: block;
}
.align-right {
  text-align: right;
}

.lcPlaylist input {
  width: calc(100% - 20px);
}

.align-left {
  text-align: left;
}
.lcPlaylist .arrow {
  margin-top: 70px;
}
.lcPlaylistAdd input {
  width: calc(100% - 53px);
}
#addPlaylist {
  padding: 7px;
  font-size: 20px;
}
.video-detail select {
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid rgba(81, 81, 81, 0.59); outline: none; font-family: 'source sans pro'; font-weight: 300; font-size: 12px;
  width: 100px;
  -webkit-appearance:none;
  padding: 0 5px;
}
.playlistDetail {
  position: relative;
}

.player {
  height: 310px;
}

.playlistColumn {
  border-left: 1px solid rgb(36, 36, 36);
  border-right: 1px solid rgb(36, 36, 36);
}

.loading {
  padding: 14px;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 65px;
}

.loading-dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  margin-top: -4px;
  background: white;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  opacity: 0;

  -webkit-box-shadow: 0 0 2px black;
  -moz-box-shadow: 0 0 2px black;
  -ms-box-shadow: 0 0 2px black;
  -o-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;

  -webkit-animation: loadingFade 1s infinite;
  -moz-animation: loadingFade 1s infinite;
  animation: loadingFade 1s infinite;
}

.loading-dot:nth-child(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
}

.loading-dot:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.loading-dot:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loading-dot:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

@-webkit-keyframes loadingFade {
  0% { opacity: 0; }
  50% { opacity: 0.8; }
  100% { opacity: 0; }
}

@-moz-keyframes loadingFade {
  0% { opacity: 0; }
  50% { opacity: 0.8; }
  100% { opacity: 0; }
}

@keyframes loadingFade {
  0% { opacity: 0; }
  50% { opacity: 0.8; }
  100% { opacity: 0; }
}

/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 110px;
  text-align: center;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px);
  -webkit-transition-delay: 0.5s; /* Safari */
  transition-delay: 0.5s;
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px);
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px);
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}

/* playlist menu dropdown styling */

.playlist-menu ul {
  list-style-type: none;
  padding: 0;
  width: 150px;
}

.playlist-menu li {
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 7px 10px;
  margin: 0;
  cursor: pointer;
  border-bottom: 1px solid #242424;
}

.playlist-menu li:last-child {
  border: none;
}

.playlist-menu li a {
  text-decoration: none;
  color: #fff;
}

.playlist-menu li:hover {
  background-color: #404040;
}

.sf-menu-sub {
  display: block;
  position: absolute;
  background-color: #2f2f2f;
  z-index: 9;
  box-shadow: rgb(17, 17, 17) 0px 0px 5px 0.5px;
}

.videoSearch {
  padding: 5px;
  border-bottom: 1px solid #262626;
}

.lcSearch input#videoSearchInput{
  width: calc(100% - 45px);
  height: 40px;
  background: #2f2f2f;
  border: none;
  font-size: 10pt;
  color: #262626;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color:white;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.lcSearch input#videoSearchInput::-webkit-input-placeholder {
   color: #767676;
}
.lcSearch input#videoSearchInput:-moz-placeholder { /* Firefox 18- */
   color: #767676;
}
.lcSearch input#videoSearchInput::-moz-placeholder {  /* Firefox 19+ */
   color: #767676;
}
.lcSearch input#videoSearchInput:-ms-input-placeholder {
   color: #767676;
}

.lcSearch .inputIcon{
  position: absolute;
  margin-left: 18px;
  margin-top: 13px;
  z-index: 1;
  color: #767676;
}

/* ANIMATION EFFECTS */
.lcSearch input#videoSearchInput:focus, .lcSearch input#videoSearchInput:active{
  outline:none;
  background: #ffffff;
  color:black;
}

