html, body{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}
@font-face {
    font-family: 'Proxima-Nova-Light';
    src: url('/static/fonts/Proxima-Nova/Mark Simonson - Proxima Nova Alt Light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('/static/fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.eot');
    src: url('/static/fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('/static/fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('/static/fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('/static/fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

a.symbol {
    background: #9f9f9f;
    padding: 7px 5px 3px 5px;
    color: white;
    text-decoration: none;
}

a {
	text-decoration: none;
}

.loading-page {
    background-color:#EEEEEE;
    width:100%;
    height:100%;
	position:relative;
}
.loading-page div.top{
	position:relative;
}
.loading-page div.buffer {
	position:relative;
    display: inline-block;
    margin-top:8%;
}
.loading-page div img{
    display:block;
    margin:0 auto;
}
.loading-page div.top > h1, .loading-page div.top > h2 {
    font-size:35px;
    color:#3D3D3D;
    text-align:center;
    font-weight:700;
    font-family: "Proxima-Nova-Light";
    margin-top:10px;
    padding-left:13px;
    letter-spacing: 10px;
}
.loading-page div.top > h2 {
	margin-bottom:25px;
	font-size:13px;
    letter-spacing: 2px;
}
.social_box {
    display: inline-block;
    text-align: center;
    position:relative;
    width:100%;
    margin:20px auto;
}

.social_box span {
    color: #555;
    padding:15px;
    font-size:30px;
}
.social_box span:hover {
	color:#3A3A3A;
}
