html, body, .h100{
  height:100%;
}

.overlay{
  position:absolute;top:0;left:0;width:100%;background-color: rgba(0, 0, 0, 0.50);z-index:-2;
}

.intro{
  padding: 10px;
}

.intro .header {
    margin: 50px auto 0 auto;
    border: 4px solid white;
    padding: 10px 30px;
    text-align: center;
    max-width: 350px;
}

.intro .header span{
    font-size: 70px;
    color: white;
}

.intro .header .login{
    color: white;
    border: 1px solid white;
    width: 100px;
    margin: 15px auto;
}
