<div class="new-feature" ng-class="{show: showFeatureModal}">
    <span class="close"><i class="icon-close"></i></span>
    <span class="left"><i class="icon-arrow-left off"></i></span>
    <span class="right"><i class="icon-arrow-right"></i></span>
    <div class="feature inner trending">
        <div class="title">
            <h3>Trending Playlists</h3>
        </div>
        <div class="demo-image"><img src="/static/images/trending_demo.png"/></div>
        <div class="description">
          <p>Trending displays a set of new playlists daily, each playlist a mix of favourite songs from our top users and Spotify’s top picks. Love the playlist? No problem, copy it to your playlist library and keep listening tomorrow.</p>
        </div>
    </div>
    <div class="feature inner share">
        <div class="title">
            <h3>Share Your Playlists</h3>
        </div>
        <div class="demo-image"><img src="/static/images/share_demo.png"/></div>
        <div class="description">
          <p>Does your friend like your taste in music? Now you can share your favourite playlists with your friends! Click the 'Copy Share Link' next to your desired playlist and send it to them.</p>
        </div>
    </div>
    <div class="feature inner autogen">
        <div class="title">
            <h3>Auto-generate Your Playlist</h3>
        </div>
        <div class="demo-image"><img src="/static/images/autogen_demo.png"/></div>
        <div class="description">
          <p>Stop spending time searching for your favourite songs! Automatically generate the suggested top picks for your playlist with a single click.</p>
        </div>
    </div>
</div>
