<div class="trendingPlaylists playlistColumn scrollbar" ng-show="listDisplay == 'trending'">
  <div class="placeholder" ng-show="trendingPlaylists.length == 0">
    <i class="icon icon-playlist"></i>
    <p>There are currently no trending playlists.</p>
  </div>
  <ul class="userPlaylist noselect" ng-show="trendingPlaylists.length > 0">
      <li class="playlist"
          ng-repeat="playlist in trendingPlaylists"
          ng-class="{active: currentPlaylist._id == playlist._id}"
          ng-click="previewPlaylist(playlist)"
          id="{{ playlist._id }}">
          <div class="playlistDetail">
              <img class="playlistThumbnail" ng-src="{{ playlist.data[0].snippet.thumbnails.medium.url }}">
              <div class="title">
                  <span class="text">{{playlist.name}}</span>
              </div>
              <div class="duration">{{playlist.data.length}} videos - {{playlist.duration}}</div>
              <div class="icon-container">
                <div class="optionContainer float-right">
                  <i class="morePlaylistOptions icon icon-options-vertical"></i>
                  <ul class="dropdown sf-menu-sub" style="display: none;">
                    <li class="playlist-menu" ng-click="addToMyPlaylist(playlist)">Add to My Playlist</li>
                  </ul>
              </div>
                <div class="float-right tooltip-left playPlaylist" ng-class="{active : playlist == playingPlaylist}" ng-click="changePlaylist(playlist)">Play<span>ing</span></div>
                <div class="float-right tooltip-left speaker" ng-class="{hide: playlist != playingPlaylist}"><i class="icon icon-volume-2"></i></div>
              </div>
          </div>
      </li>
  </ul>
</div>
